@keyframes move-out {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Trigger when parent .group is hovered */
.jump:hover h3 span {
  animation: move-out 0.6s ease infinite;
}
.jump h3 span {
  display: inline-block;
  transition: transform 0.3s ease; /* Smooth return */
}

/* Stagger animation for each letter */
.jump h3 span:nth-child(1) {
  animation-delay: 0s;
}
.jump h3 span:nth-child(2) {
  animation-delay: 0.1s;
}
.jump h3 span:nth-child(3) {
  animation-delay: 0.2s;
}
.jump h3 span:nth-child(4) {
  animation-delay: 0.3s;
}
.jump h3 span:nth-child(5) {
  animation-delay: 0.4s;
}
.jump h3 span:nth-child(6) {
  animation-delay: 0.5s;
}
.jump h3 span:nth-child(7) {
  animation-delay: 0.6s;
}
.jump h3 span:nth-child(8) {
  animation-delay: 0.7s;
}
