.card_button {
  border: 1px solid;
  overflow: hidden;
  position: relative;

  span {
    z-index: 20;
  }

  &:after {
    background: #fff;
    content: "";
    height: 155px;
    left: -75px;
    opacity: 0.6;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 750ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: -10;
  }
}

.card_button:hover {
  &:after {
    left: 120%;
    transition: all 750ms cubic-bezier(0.19, 1, 0.22, 1);
  }
}

.fade::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;

  width: 2px; /* border thickness */
  background: white; /* border color */

  /* fade at top and bottom */
  mask-image: linear-gradient(
    to bottom,
    transparent,
    black 20%,
    black 80%,
    transparent
  );

  pointer-events: none;
}
