.bounce {
  transition: color 300ms ease;
}

.bounce:hover {
  animation: bounce 0.7s infinite;
  color: var(--color-neutral-400);
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(-20%);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.fadeOut {
  animation: fadeOut 300ms ease forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.97);
  }
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 10px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: var(--color-neutral-700);
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: rgb(159, 157, 157);
    border-radius: 100vh;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #c0a0b9;
  }
}
