@keyframes morphing {
  0% {
    border-radius: 30% 60% 60% 30% / 30% 30% 60% 60%;
  }
  25% {
    border-radius: 58% 42% 45% 25% / 46% 46% 64% 24%;
  }
  50% {
    border-radius: 50% 50% 33% 57% / 55% 27% 43% 45%;
  }
  75% {
    border-radius: 33% 57% 58% 42% / 43% 58% 32% 37%;
  }
  100% {
    border-radius: 30% 50% 50% 30% / 30% 30% 50% 50%;
  }
}

.imageWrapper {
  position: relative;
  width: 250px;
  height: 280px;
  background-size: cover;
  background-position: center;
  animation: morphing 8s ease-in-out infinite alternate;
  background-image: url("/images/profileDark.jpg");
}

@media (max-width: 770px) {
  .imageWrapper {
    width: 180px;
    height: 200px;
  }
}

.imageWrapper::after {
  content: "";
  position: absolute;
  inset: 0;
  border: 8px solid rgba(255, 255, 255, 0.2);
  border-radius: inherit;
  animation: inherit;
  pointer-events: none;
  box-sizing: border-box;
}

.imageWrapper + div * {
  transition: all 0.4s;
}
